*{
    background-color: rgb(25, 25, 25);
    color: white;

}

main{
    max-width: 500px;
    margin: auto;
    text-align: center;
}

p{
    margin-bottom: 40px;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    
}

.imog-button{
    border-radius: 50%;
    border: 3px solid white;
    cursor: pointer;
    width: 120px;
    height: 120px;
    margin-right: 10px;

}

.imog{
    height: 50px;
    background-color: transparent;
}

.green{
    color: green;
    font-size: 25px;
    font-weight: bold;
}

.red{
    color: red;
    font-size: 25px;
    font-weight: bold;
}

.yellow{
    color: yellow;
    font-size: 25px;
    font-weight: bold;
}

.reset{
    background-color: red;
    color: white;
    font-weight: bolder;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
}



